@import "tailwindcss";

html body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: IRANSansWebFaNum !important;
}

* {
  box-sizing: border-box;
}

.ltr-text {
  direction: ltr;
}

nextjs-portal {
  display: none;
}