@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800&display=swap");
@import "tailwindcss";

html body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", IRANSansWebFaNum, sans-serif !important;
}

* {
  box-sizing: border-box;
}

.ltr-text {
  direction: ltr;
}

nextjs-portal {
  display: none;
}

@theme {
  --color-background: #09090b;
  --color-primary: #0d9488;
  --color-text-bold: #fafafa;
  --color-text-muted: #9c9fa6;
  --color-dark: #111;
}
